.course-card {
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 1rem;

    background-color: #ebebe3;
}

.author-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}